.helloWorld{
    color:red;
    text-align: center;
}


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;600;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap');
body{
    margin:0px;
    background:black
}